In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv("loan.csv",  encoding = "ISO-8859-1")

C:\Users\adi00\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (47) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [221]:
round(100*(df.isnull().sum()/len(df.index)), 2)

id                              0.0
member_id                       0.0
loan_amnt                       0.0
funded_amnt                     0.0
funded_amnt_inv                 0.0
                              ...
tax_liens                       0.1
tot_hi_cred_lim               100.0
total_bal_ex_mort             100.0
total_bc_limit                100.0
total_il_high_credit_limit    100.0
Length: 111, dtype: float64

In [222]:
# removing all columns where all elements are null (https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.dropna.html)
df.dropna(axis=1, how='all', inplace=True)

In [223]:
round(100*(df.isnull().sum()/len(df.index)), 2)

id                             0.00
member_id                      0.00
loan_amnt                      0.00
funded_amnt                    0.00
funded_amnt_inv                0.00
term                           0.00
int_rate                       0.00
installment                    0.00
grade                          0.00
sub_grade                      0.00
emp_title                      6.19
emp_length                     2.71
home_ownership                 0.00
annual_inc                     0.00
verification_status            0.00
issue_d                        0.00
loan_status                    0.00
pymnt_plan                     0.00
url                            0.00
desc                          32.58
purpose                        0.00
title                          0.03
zip_code                       0.00
addr_state                     0.00
dti                            0.00
delinq_2yrs                    0.00
earliest_cr_line               0.00
inq_last_6mths                 0.00
mths_since_last_delinq        64.66
mths_since_last_record        92.99
open_acc                       0.00
pub_rec                        0.00
revol_bal                      0.00
revol_util                     0.13
total_acc                      0.00
initial_list_status            0.00
out_prncp                      0.00
out_prncp_inv                  0.00
total_pymnt                    0.00
total_pymnt_inv                0.00
total_rec_prncp                0.00
total_rec_int                  0.00
total_rec_late_fee             0.00
recoveries                     0.00
collection_recovery_fee        0.00
last_pymnt_d                   0.18
last_pymnt_amnt                0.00
next_pymnt_d                  97.13
last_credit_pull_d             0.01
collections_12_mths_ex_med     0.14
policy_code                    0.00
application_type               0.00
acc_now_delinq                 0.00
chargeoff_within_12_mths       0.14
delinq_amnt                    0.00
pub_rec_bankruptcies           1.75
tax_liens                      0.10
dtype: float64

In [224]:
# rows having all missing values
df.isnull().all(axis=1)

0        False
1        False
2        False
3        False
4        False
         ...
39712    False
39713    False
39714    False
39715    False
39716    False
Length: 39717, dtype: bool

In [225]:
df.dropna(how='all', inplace=True)

In [226]:
df.isnull().all(axis=1)

0        False
1        False
2        False
3        False
4        False
         ...
39712    False
39713    False
39714    False
39715    False
39716    False
Length: 39717, dtype: bool

In [227]:
# checking the percetage of zeros in each column
round(100*(df.eq(0).sum()/len(df.index)), 2)

id                              0.00
member_id                       0.00
loan_amnt                       0.00
funded_amnt                     0.00
funded_amnt_inv                 0.32
term                            0.00
int_rate                        0.00
installment                     0.00
grade                           0.00
sub_grade                       0.00
emp_title                       0.00
emp_length                      0.00
home_ownership                  0.00
annual_inc                      0.00
verification_status             0.00
issue_d                         0.00
loan_status                     0.00
pymnt_plan                      0.00
url                             0.00
desc                            0.00
purpose                         0.00
title                           0.00
zip_code                        0.00
addr_state                      0.00
dti                             0.46
delinq_2yrs                    89.14
earliest_cr_line                0.00
inq_last_6mths                 48.59
mths_since_last_delinq          1.12
mths_since_last_record          1.69
open_acc                        0.00
pub_rec                        94.67
revol_bal                       2.50
revol_util                      0.00
total_acc                       0.00
initial_list_status             0.00
out_prncp                      97.13
out_prncp_inv                  97.13
total_pymnt                     0.04
total_pymnt_inv                 0.42
total_rec_prncp                 0.19
total_rec_int                   0.18
total_rec_late_fee             94.85
recoveries                     89.38
collection_recovery_fee        90.48
last_pymnt_d                    0.00
last_pymnt_amnt                 0.19
next_pymnt_d                    0.00
last_credit_pull_d              0.00
collections_12_mths_ex_med     99.86
policy_code                     0.00
application_type                0.00
acc_now_delinq                100.00
chargeoff_within_12_mths       99.86
delinq_amnt                   100.00
pub_rec_bankruptcies           94.01
tax_liens                      99.90
dtype: float64

In [228]:
# removing the columns that have majorly zero
df = df.drop('tax_liens', axis=1)
df = df.drop('delinq_amnt', axis=1)
df = df.drop('pub_rec_bankruptcies', axis=1)
df = df.drop('chargeoff_within_12_mths', axis = 1)
df = df.drop('acc_now_delinq', axis = 1)
df = df.drop('collections_12_mths_ex_med', axis = 1)
df = df.drop('collection_recovery_fee', axis = 1)
df = df.drop('recoveries', axis = 1)
df = df.drop('total_rec_late_fee', axis = 1)
df = df.drop('out_prncp_inv', axis = 1)
df = df.drop('out_prncp', axis = 1)
df = df.drop('pub_rec', axis = 1)
df = df.drop('delinq_2yrs', axis = 1)

In [229]:
round(100*(df.eq(0).sum()/len(df.index)), 2)

id                         0.00
member_id                  0.00
loan_amnt                  0.00
funded_amnt                0.00
funded_amnt_inv            0.32
term                       0.00
int_rate                   0.00
installment                0.00
grade                      0.00
sub_grade                  0.00
emp_title                  0.00
emp_length                 0.00
home_ownership             0.00
annual_inc                 0.00
verification_status        0.00
issue_d                    0.00
loan_status                0.00
pymnt_plan                 0.00
url                        0.00
desc                       0.00
purpose                    0.00
title                      0.00
zip_code                   0.00
addr_state                 0.00
dti                        0.46
earliest_cr_line           0.00
inq_last_6mths            48.59
mths_since_last_delinq     1.12
mths_since_last_record     1.69
open_acc                   0.00
revol_bal                  2.50
revol_util                 0.00
total_acc                  0.00
initial_list_status        0.00
total_pymnt                0.04
total_pymnt_inv            0.42
total_rec_prncp            0.19
total_rec_int              0.18
last_pymnt_d               0.00
last_pymnt_amnt            0.19
next_pymnt_d               0.00
last_credit_pull_d         0.00
policy_code                0.00
application_type           0.00
dtype: float64

In [230]:
# removing columns that seem unnecessary
df = df.drop('emp_title', axis=1)
df = df.drop('url', axis=1)
df = df.drop('desc', axis=1)
df = df.drop('title', axis = 1)
df = df.drop('zip_code', axis = 1)

# reconsider
#df = df.drop('inq_last_6mths', axis = 1)

df = df.drop('mths_since_last_delinq', axis = 1)
df = df.drop('mths_since_last_record', axis = 1)
df = df.drop('initial_list_status', axis = 1)
df = df.drop('open_acc', axis=1)
df = df.drop('total_acc', axis=1)
df = df.drop('total_pymnt', axis=1)
df = df.drop('total_rec_prncp', axis=1)
df = df.drop('total_rec_int', axis=1)
df = df.drop('last_pymnt_amnt', axis=1)
df = df.drop('last_credit_pull_d', axis=1)
df = df.drop('total_pymnt_inv', axis=1)

In [231]:
round(100*(df.eq(0).sum()/len(df.index)), 2)

id                      0.00
member_id               0.00
loan_amnt               0.00
funded_amnt             0.00
funded_amnt_inv         0.32
term                    0.00
int_rate                0.00
installment             0.00
grade                   0.00
sub_grade               0.00
emp_length              0.00
home_ownership          0.00
annual_inc              0.00
verification_status     0.00
issue_d                 0.00
loan_status             0.00
pymnt_plan              0.00
purpose                 0.00
addr_state              0.00
dti                     0.46
earliest_cr_line        0.00
inq_last_6mths         48.59
revol_bal               2.50
revol_util              0.00
last_pymnt_d            0.00
next_pymnt_d            0.00
policy_code             0.00
application_type        0.00
dtype: float64

In [232]:
round(100*(df.isnull().sum()/len(df.index)), 2)

id                      0.00
member_id               0.00
loan_amnt               0.00
funded_amnt             0.00
funded_amnt_inv         0.00
term                    0.00
int_rate                0.00
installment             0.00
grade                   0.00
sub_grade               0.00
emp_length              2.71
home_ownership          0.00
annual_inc              0.00
verification_status     0.00
issue_d                 0.00
loan_status             0.00
pymnt_plan              0.00
purpose                 0.00
addr_state              0.00
dti                     0.00
earliest_cr_line        0.00
inq_last_6mths          0.00
revol_bal               0.00
revol_util              0.13
last_pymnt_d            0.18
next_pymnt_d           97.13
policy_code             0.00
application_type        0.00
dtype: float64

In [233]:
# next_pymnt_d has more than 97% null values, removing the column
df = df.drop('next_pymnt_d', axis=1)

In [234]:
# this column has same value for the rows, doesn't add any value to our analysis
df = df.drop('pymnt_plan', axis=1)

In [235]:
# this column has same value for the rows, doesn't add any value to our analysis
df = df.drop('application_type', axis=1)

In [236]:
# Columns loan_amnt and fund_amnt seem to have similar set of values. It it's highly correlated, we can remove one of the columns
df["loan_amnt"].corr(df["funded_amnt"])

0.9815782188237627

In [237]:
# Removing funded_amnt
df = df.drop('funded_amnt', axis=1)

In [238]:
# Even funded_amnt_inv is also hihgly correlated with load_amnt, removing funded_amnt_inv also
df["loan_amnt"].corr(df["funded_amnt_inv"])

0.9400335348163549

In [239]:
df = df.drop('funded_amnt_inv', axis=1)

In [240]:
# just to visualise the cleaned data in excel
df.to_csv("cleaned.csv")

In [241]:
# removing unnecessary symbols and texts
df['int_rate'] = df['int_rate'].str.replace('\%','')

In [171]:
df['revol_util'] = df['revol_util'].str.replace('\%','').astype(float)

In [172]:
df['term'] = df['term'].str.replace('months','')

In [173]:
df['emp_length'] = df['emp_length'].str.replace('\+ years','')
df['emp_length'] = df['emp_length'].str.replace('years','')
df['emp_length'] = df['emp_length'].str.replace('<','')
df['emp_length'] = df['emp_length'].str.replace('year','')

In [174]:
df["int_rate"] = df["int_rate"].astype(float)

In [175]:
df

,id,member_id,loan_amnt,term,int_rate,installment,grade,sub_grade,emp_length,home_ownership,...,issue_d,loan_status,purpose,addr_state,dti,earliest_cr_line,revol_bal,revol_util,last_pymnt_d,policy_code
0,1077501,1296599,5000,36,10.65,162.87,B,B2,10,RENT,...,Dec-11,Fully Paid,credit_card,AZ,27.65,Jan-85,13648,83.7,Jan-15,1
1,1077430,1314167,2500,60,15.27,59.83,C,C4,1,RENT,...,Dec-11,Charged Off,car,GA,1.00,Apr-99,1687,9.4,Apr-13,1
2,1077175,1313524,2400,36,15.96,84.33,C,C5,10,RENT,...,Dec-11,Fully Paid,small_business,IL,8.72,Nov-01,2956,98.5,Jun-14,1
3,1076863,1277178,10000,36,13.49,339.31,C,C1,10,RENT,...,Dec-11,Fully Paid,other,CA,20.00,Feb-96,5598,21.0,Jan-15,1
4,1075358,1311748,3000,60,12.69,67.79,B,B5,1,RENT,...,Dec-11,Current,other,OR,17.94,Jan-96,27783,53.9,May-16,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39712,92187,92174,2500,36,8.07,78.42,A,A4,4,MORTGAGE,...,Jul-07,Fully Paid,home_improvement,CO,11.33,Nov-90,7274,13.1,Jul-10,1
39713,90665,90607,8500,36,10.28,275.38,C,C1,3,RENT,...,Jul-07,Fully Paid,credit_card,NC,6.40,Dec-86,8847,26.9,Jul-10,1
39714,90395,90390,5000,36,8.07,156.84,A,A4,1,MORTGAGE,...,Jul-07,Fully Paid,debt_consolidation,MA,2.30,Oct-98,9698,19.4,Apr-08,1
39715,90376,89243,5000,36,7.43,155.38,A,A2,1,MORTGAGE,...,Jul-07,Fully Paid,other,MD,3.72,Nov-88,85607,0.7,Jan-08,1
39716,87023,86999,7500,36,13.75,255.43,E,E2,1,OWN,...,Jun-07,Fully Paid,debt_consolidation,MA,14.29,Oct-03,4175,51.5,Jun-10,1

In [176]:
# I don't think int_rate and installment provide any distinct insight, so removing the installment
#df = df.drop('installment', axis=1)

In [242]:
# policy code is not required
df = df.drop('policy_code', axis=1)

In [178]:
round(100*(df.isnull().sum()/len(df.index)), 2)

id                     0.00
member_id              0.00
loan_amnt              0.00
term                   0.00
int_rate               0.00
grade                  0.00
sub_grade              0.00
emp_length             2.71
home_ownership         0.00
annual_inc             0.00
verification_status    0.00
issue_d                0.00
loan_status            0.00
purpose                0.00
addr_state             0.00
dti                    0.00
earliest_cr_line       0.00
revol_bal              0.00
revol_util             0.13
last_pymnt_d           0.18
dtype: float64

In [180]:
#df.to_csv("cleaned.csv")

In [184]:
df.loan_amnt.describe()

count    39717.000000
mean     11219.443815
std       7456.670694
min        500.000000
25%       5500.000000
50%      10000.000000
75%      15000.000000
max      35000.000000
Name: loan_amnt, dtype: float64