In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
pd.set_option('display.max_columns', 50)
pd.set_option('display.max_rows', 50)

In [4]:
df = pd.read_csv("loan.csv",  encoding = "ISO-8859-1")

D:\Programs\Continuum\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (47) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [5]:
round(100*(df.isnull().sum()/len(df.index)), 2)

id                              0.0
member_id                       0.0
loan_amnt                       0.0
funded_amnt                     0.0
funded_amnt_inv                 0.0
                              ...
tax_liens                       0.1
tot_hi_cred_lim               100.0
total_bal_ex_mort             100.0
total_bc_limit                100.0
total_il_high_credit_limit    100.0
Length: 111, dtype: float64

In [6]:
# removing all columns where all elements are null (https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.dropna.html)
df.dropna(axis=1, how='all', inplace=True)

In [7]:
round(100*(df.isnull().sum()/len(df.index)), 2)

id                          0.00
member_id                   0.00
loan_amnt                   0.00
funded_amnt                 0.00
funded_amnt_inv             0.00
                            ...
acc_now_delinq              0.00
chargeoff_within_12_mths    0.14
delinq_amnt                 0.00
pub_rec_bankruptcies        1.75
tax_liens                   0.10
Length: 57, dtype: float64

In [8]:
# rows having all missing values
df.isnull().all(axis=1)

0        False
1        False
2        False
3        False
4        False
         ...
39712    False
39713    False
39714    False
39715    False
39716    False
Length: 39717, dtype: bool

In [9]:
df.dropna(how='all', inplace=True)

In [10]:
df.isnull().all(axis=1)

0        False
1        False
2        False
3        False
4        False
         ...
39712    False
39713    False
39714    False
39715    False
39716    False
Length: 39717, dtype: bool

In [11]:
# checking the percetage of zeros in each column
round(100*(df.eq(0).sum()/len(df.index)), 2)

id                            0.00
member_id                     0.00
loan_amnt                     0.00
funded_amnt                   0.00
funded_amnt_inv               0.32
                             ...
acc_now_delinq              100.00
chargeoff_within_12_mths     99.86
delinq_amnt                 100.00
pub_rec_bankruptcies         94.01
tax_liens                    99.90
Length: 57, dtype: float64

In [12]:
# removing the columns that have majorly zero
df = df.drop('tax_liens', axis=1)
df = df.drop('delinq_amnt', axis=1)
df = df.drop('pub_rec_bankruptcies', axis=1)
df = df.drop('chargeoff_within_12_mths', axis = 1)
df = df.drop('acc_now_delinq', axis = 1)
df = df.drop('collections_12_mths_ex_med', axis = 1)
df = df.drop('collection_recovery_fee', axis = 1)
df = df.drop('recoveries', axis = 1)
df = df.drop('total_rec_late_fee', axis = 1)
df = df.drop('out_prncp_inv', axis = 1)
df = df.drop('out_prncp', axis = 1)
df = df.drop('pub_rec', axis = 1)
df = df.drop('delinq_2yrs', axis = 1)

In [13]:
round(100*(df.eq(0).sum()/len(df.index)), 2)

id                         0.00
member_id                  0.00
loan_amnt                  0.00
funded_amnt                0.00
funded_amnt_inv            0.32
term                       0.00
int_rate                   0.00
installment                0.00
grade                      0.00
sub_grade                  0.00
emp_title                  0.00
emp_length                 0.00
home_ownership             0.00
annual_inc                 0.00
verification_status        0.00
issue_d                    0.00
loan_status                0.00
pymnt_plan                 0.00
url                        0.00
desc                       0.00
purpose                    0.00
title                      0.00
zip_code                   0.00
addr_state                 0.00
dti                        0.46
earliest_cr_line           0.00
inq_last_6mths            48.59
mths_since_last_delinq     1.12
mths_since_last_record     1.69
open_acc                   0.00
revol_bal                  2.50
revol_util                 0.00
total_acc                  0.00
initial_list_status        0.00
total_pymnt                0.04
total_pymnt_inv            0.42
total_rec_prncp            0.19
total_rec_int              0.18
last_pymnt_d               0.00
last_pymnt_amnt            0.19
next_pymnt_d               0.00
last_credit_pull_d         0.00
policy_code                0.00
application_type           0.00
dtype: float64

In [14]:
# removing columns that seem unnecessary
df = df.drop('emp_title', axis=1)
df = df.drop('url', axis=1)
df = df.drop('desc', axis=1)
df = df.drop('title', axis = 1)
df = df.drop('zip_code', axis = 1)

# reconsider
#df = df.drop('inq_last_6mths', axis = 1)

df = df.drop('mths_since_last_delinq', axis = 1)
df = df.drop('mths_since_last_record', axis = 1)
df = df.drop('initial_list_status', axis = 1)
df = df.drop('open_acc', axis=1)
df = df.drop('total_acc', axis=1)
df = df.drop('total_pymnt', axis=1)
df = df.drop('total_rec_prncp', axis=1)
df = df.drop('total_rec_int', axis=1)
df = df.drop('last_pymnt_amnt', axis=1)
df = df.drop('last_credit_pull_d', axis=1)
df = df.drop('total_pymnt_inv', axis=1)

In [ ]:
round(100*(df.eq(0).sum()/len(df.index)), 2)

In [ ]:
round(100*(df.isnull().sum()/len(df.index)), 2)

In [ ]:
# next_pymnt_d has more than 97% null values, removing the column
df = df.drop('next_pymnt_d', axis=1)

In [ ]:
# this column has same value for the rows, doesn't add any value to our analysis
df = df.drop('pymnt_plan', axis=1)

In [ ]:
# this column has same value for the rows, doesn't add any value to our analysis
df = df.drop('application_type', axis=1)

In [ ]:
# Columns loan_amnt and fund_amnt seem to have similar set of values. It it's highly correlated, we can remove one of the columns
df["loan_amnt"].corr(df["funded_amnt"])

In [ ]:
# Removing funded_amnt
df = df.drop('funded_amnt', axis=1)

In [ ]:
# Even funded_amnt_inv is also hihgly correlated with load_amnt, removing funded_amnt_inv also
df["loan_amnt"].corr(df["funded_amnt_inv"])

In [ ]:
df = df.drop('funded_amnt_inv', axis=1)

In [ ]:
# just to visualise the cleaned data in excel
df.to_csv("cleaned.csv")

In [ ]:
# removing unnecessary symbols and texts
df['int_rate'] = df['int_rate'].str.replace('\%','')

In [ ]:
df['revol_util'] = df['revol_util'].str.replace('\%','').astype(float)

In [ ]:
df['term'] = df['term'].str.replace('months','')

In [ ]:
df['emp_length'] = df['emp_length'].str.replace('\+ years','')
df['emp_length'] = df['emp_length'].str.replace('years','')
df['emp_length'] = df['emp_length'].str.replace('<','')
df['emp_length'] = df['emp_length'].str.replace('year','')

In [ ]:
df["int_rate"] = df["int_rate"].astype(float)

In [ ]:
df["issue_d"]

In [ ]:
# I don't think int_rate and installment provide any distinct insight, so removing the installment
#df = df.drop('installment', axis=1)

In [ ]:
# policy code is not required
df = df.drop('policy_code', axis=1)

In [ ]:
df['term'] = df['term'].str.replace('months','')

In [ ]:
df['issue_d'] = pd.to_datetime(df['issue_d'], format='%b-%y')

In [ ]:
df['earliest_cr_line'] = pd.to_datetime(df['earliest_cr_line'], format='%b-%y')

In [ ]:
df['last_pymnt_d'] = pd.to_datetime(df['last_pymnt_d'], format='%b-%y')

In [ ]:
df

In [ ]:
#df.to_csv("cleaned.csv")

## Univariate Analysis

### loan_amnt

In [ ]:
df.loan_amnt.describe()

In [ ]:
df.loan_amnt.describe(percentiles=[.10, .20, .30, .40, .50, .60, .70, .80, .90])

In [ ]:
# checking the distribution of loan_amnt
sns.boxplot(y=df.loan_amnt)
plt.show()

In [ ]:
# A new derived metric to make the analysis simpler
df['loan_amnt_bucket'] = pd.cut(df['loan_amnt'], [x for x in range(0, 36000, 5000)], labels=[str(x)+'-'+str(x+5)+'K' for x in range (0, 35, 5)])

In [ ]:
# From this bar graph, we can see that most of the loan amounts fall in 5-10K range
sns.countplot(df.loan_amnt_bucket, order = df.loan_amnt_bucket.value_counts().index)

In [ ]:
#from the graph, it looks like relatively higher number of loans were issued in rounded figures such as 5000, 10000, 12000, 15000, 20000, 25000, 30000 and 35000
# also, don't see outliers, mean and median are comparable.
sns.distplot(df.loan_amnt)
plt.show()

In [ ]:
# almost 75% of the loans were below 15,000; As we have observed earlier, most of the loans (32%) are fall in the range 5-10K
df.groupby('loan_amnt_bucket')['id'].count() * 100/  len(df.index)

### term

In [ ]:
# among all loans, 73.25% of them were short term
df.groupby('term')['id'].count() * 100 / len(df.index)

In [ ]:
# bar chart with percentage
ax = sns.barplot(x="term", y="term", data=df, estimator=lambda x: len(x) / len(df) * 100)
ax.set(ylabel="Percent")

In [ ]:
# bar chart with count
sns.countplot(df.term, order = df.term.value_counts().index)

### int_rate

In [ ]:
df.int_rate.describe(percentiles=[.1,.2,.3,.4,.5,.6,.7,.8,.9,.99])

In [ ]:
# Creating buckets for interests
df['int_rate_bucket'] = pd.cut(df['int_rate'], [x for x in range(5, 30, 5)], labels=[str(x)+'-'+str(x+5)+'%' for x in range (5, 25, 5)])

In [ ]:
df.groupby('int_rate_bucket')['id'].count()

In [ ]:
# from the below result, it can be seen that 10-15% is the interest rates of most of the loans
df.groupby('int_rate_bucket')['id'].count() * 100/  len(df.index)

In [ ]:
# bar chart
(df.groupby('int_rate_bucket')['id'].count() * 100/  len(df.index)).plot.bar()

In [ ]:
# bar chart
sns.countplot(df.int_rate_bucket, order = df.int_rate_bucket.value_counts().index)

In [ ]:
sns.distplot(df.int_rate)
plt.show()

### grade

In [ ]:
df.groupby('grade')['id'].count() * 100/  len(df.index)

In [ ]:
# bar chart for the percentage
(df.groupby('grade')['id'].count() * 100/  len(df.index)).plot.bar()

In [ ]:
# Top 3 loan grades are B, A and C
sns.countplot(df.grade, order = df.grade.value_counts().index)

### emp_length

In [ ]:
# Need to correct two versions of 1
df['emp_length'] = df['emp_length'].str.strip()
df.groupby('emp_length')['id'].count() * 100/  len(df.index)

In [ ]:
# bar chart for the same statistics
(df.groupby('emp_length')['id'].count() * 100/  len(df.index)).plot.bar()

In [ ]:
# most of the loans are issued to people with 10 or more years of experience
sns.countplot(df.emp_length, order = df.emp_length.value_counts().index)

In [ ]:
df.groupby('home_ownership').size() * 100 / len(df.index)

In [ ]:
(df.groupby('home_ownership').size() * 100 / len(df.index)).sort_values(ascending = False).plot.bar()

In [ ]:
# from the plot, it is clear that the most of the people who have taken loans have thier home on rent or on mortgage
sns.countplot(df.home_ownership, order = df.home_ownership.value_counts().index)

### annual_inc

In [ ]:
sns.distplot(df.annual_inc)
plt.show()

In [ ]:
df.annual_inc.describe(percentiles=[.1,.2,.25,.3,.4,.5,.6,.7,.75,.8, .85, .9,.95, .98, .99])

In [ ]:
sns.boxplot(y=df.annual_inc)
plt.show()

In [ ]:
sns.boxplot(y=df.annual_inc,  showfliers=False)
plt.show()
# from the below plot, it is clear that 75% people have income less than 80,000$

In [ ]:
# distribution of people with low income (<100,000$)
sns.distplot(df[df.annual_inc < 1e+05].annual_inc)

In [ ]:
# distribution of people with medium income (>= 100,000$ to < 500,000$)
sns.distplot(df[(df.annual_inc >= 1.000000e+05) & (df.annual_inc < 5e+05)].annual_inc)

In [ ]:
# distribution of people with high income, >= 500,000$
sns.distplot(df[df.annual_inc >= 5e+05].annual_inc)

In [ ]:
# binning the annual income
df['annual_inc_bucket'] = pd.cut(df['annual_inc'], [0, 100000, 500000, 6000000], labels=["low", "medium", "high"])

In [ ]:
# from the bar chart, we can see that almost 85% of the people have income less than or equal to 100,000
(df.groupby('annual_inc_bucket')['id'].count() * 100/ len(df)).plot.bar()

### verification_status

In [ ]:
sns.countplot(df.verification_status, order = df.verification_status.value_counts().index)

In [ ]:
# From the below figures, it is clear that almost 42.6% people have 'Not Verified' status
df.groupby('verification_status').size() * 100 / len(df.index)

In [ ]:
# in percentages
(df.groupby('verification_status').size() * 100 / len(df.index)).sort_values(ascending=False).plot.bar()

### issue_d

In [ ]:
df['issue_year'] = df['issue_d'].dt.year

In [ ]:
# from the bar chart, we can see that max number of loans are issued in 2011. 
# The number was increasing rapidly from the year 2007
(df.groupby('issue_year')['id'].count()).sort_values(ascending = False).plot.bar()

### loan_status

In [ ]:
# from the chart, we can see that major portion of the loans issued were repaid fully (more than 80%).
(df.groupby('loan_status')['id'].count() * 100 / len(df)).sort_values(ascending=False).plot.bar()

In [ ]:
# almost 14.16% loans were defaulted.
df.groupby('loan_status')['id'].count() * 100 / len(df)

### Comparing status with other categories

#### loan_status vs loan_amnt_bucket

In [ ]:
df_withoutCurrent = df[~(df.loan_status == "Current")]

In [ ]:
grouped = df_withoutCurrent.groupby(['loan_status', 'loan_amnt_bucket'])['loan_amnt_bucket'].count()

In [ ]:
gp_unstacked = grouped.unstack(level=-1)
gp_unstacked

In [ ]:
# total number in each loan_amnt_bucket to find the percentage
grouped_loan_amnt = df_withoutCurrent.groupby('loan_amnt_bucket')['loan_amnt_bucket'].count()
grouped_loan_amnt

In [ ]:
# Percentage of Charged Off in each loan_amnt_bucket
perc = gp_unstacked * 100 / grouped_loan_amnt

In [ ]:
# we are interested only in Charged Off values
perc.loc["Charged Off"].sort_values(ascending = False).plot.bar()

# from this plot, it is clear that higher the loan amount higher the risk of loan getting defaulted.
# Also, risk of default is gradually increasing as the loan amount increases.
# This indicates that bank has to reduce giving big loans as it carry high risk.
# This could be one of the driver variables.

### loan_status vs loan_amnt_bucket

In [2]:
grouped_by_ls_irb = df_withoutCurrent.groupby(['loan_status', 'int_rate_bucket'])['int_rate_bucket'].count()

NameError: name 'df_withoutCurrent' is not defined